/************->VARIABLES*********<-*/

:root{
    --color-white: #fff;
    --color-black: #000;
    --color-green: #57d131;
    --default-transition: all .3s;
    --color-gray: #5e5d5d;
    --white-fade:#e7e7e7;
    --white-gradient:#f9f8f3;
}

/*------------------------------------*/


/************->FONTS*********<-*/
/*------------------------------------*/

/************->GENERAL*********<-*/

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    font-size: 1.6rem;
}

a,a:hover{
    text-decoration: none;
    color: var(--color-black);
}

/*------------------------------------*/

/************->ONE PAGE INDEX *********<-*/

.header{
    height: 100vh;
    position: relative;
}

.navbar{
    background: transparent;
    padding: 1rem;
}

.navbar-brand{
    color: var(--color-white) !important;
    font-size: 2rem;
}

#my-nav{
    justify-content: center!important;
}

.navbar-nav{
    justify-content: center;
}

.nav-item{
    margin-right: 2rem;
    font-size: 1.8rem;
}

.nav-link{
    color: var(--color-white);
    transition: var(--default-transition);
}

.nav-link:hover{
    color: var(--color-green);
}

.banner-info{
    position: absolute;
    width: 40rem;
    background: rgba(0, 0, 0, 0.308);
    top: 50%;
    left: 30%;
    transform: translate(-50%,-30%);
    padding: 1rem;
    border-left: 2px solid var(--color-green);
    color: var(--color-white);
}

.banner-info h3{
    font-size: 4rem;
    margin-bottom: 2rem;
}


#scroll-invitation a span {
position: absolute;
bottom: 4rem;
left: 50%;
width: 2.4rem;
height: 2.4rem;
border-left: 3px solid var(--color-green);
border-bottom: 3px solid var(--color-green);
-webkit-transform: rotateZ(-45deg);
transform: rotateZ(-45deg),translate(-50%,-4rem);
-webkit-animation: yv-effect 1.5s infinite;
animation: yv-effect 1.5s infinite;
}

@-webkit-keyframes yv-effect {
    0% {
        -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes yv-effect {
    0% {
        transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

#about{
    padding: 5rem;
}

.box-content-info{
    padding: 1rem;
}

.box-content-info > h3{
    font-size: 5rem;
    position: relative;
    cursor: default;
    color: var(--color-gray);
    margin-bottom: 3rem;
}

.box-content-info > h3::before{
    content:" ";
    position: absolute;
    bottom: -.4rem;
    width: 10rem;
    height: 2rem;
    z-index: -1;
    background: var(--color-green) !important;
    transition: var(--default-transition);
}

.box-content-info > h3:hover::before{
    width: 20rem;
}

.box-info{
    height: 40rem;
    display: flex;
}

.info-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.info-text h3{
    font-size: 3rem;
    margin-bottom:3rem;
}

.info-img{
    flex: 1;
    height: 100%;
    width: 30rem !important;
    background: url('../images/hero_1.jpg') center no-repeat;
    background-size: cover;
}

.btn-download{
    z-index: 3;
    position: relative;
    padding: 1rem;
    border: none;
    /* border: 1px solid var(--color-green); */
    cursor: pointer;
    background: var(--color-white);
    /* background:linear-gradient(to left,#8bc979,#57d131); */
    color: var(--color-black);
    transition: var(--default-transition);
}

.btn-download::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--color-green);
    z-index: -1;
    width: 50%;
    transition: var(--default-transition);
}

.btn-download:hover::after{
    width: 100%;
    background: var(--color-white);
    border-top: 1px solid var(--color-green);
    border-bottom: 1px solid var(--color-green);
    border-right: 1px solid var(--color-green);
    
}
/*------------------------------------*/