/************->VARIABLES*********<-*/

:root{
    --dark-theme-color:rgb(0, 0, 0);
    --color-white: #fff;
    --color-black: #000;
    --color-blue:#0b2239;
    --color-green: #57d131;
    --green-gradient: #56bc83;
    --default-transition: all .3s;
    --color-gray: #5e5d5d;
    --white-fade:#e7e7e7;
    --white-gradient:#f9f8f3;
    --arrow-color: aquamarine;
}

/*------------------------------------*/


/************->FONTS*********<-*/
/*------------------------------------*/

/************->GENERAL*********<-*/

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    width: 100%;
    font-size: 1.6rem;
    position: relative;
    background-color: var(--dark-theme-color)   ;
    transition: var(--default-transition);
}

body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
}

body::-webkit-scrollbar{
	width: 1rem;
	background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--color-green);
}

body::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-blue);
}

a,a:hover{
    text-decoration: none;
    color: var(--color-black);
}

ul li{
    list-style: none;
}

.d-none{
    display: none;
    transition: all .4s;
}


/*------------------------------------*/

/************->ONE PAGE INDEX *********<-*/

#header{
    background-color: var(--dark-theme-color);
    /* z-index: 2000; */
    min-height: 100vh;
    position: relative;

}

.navbar{
    background: transparent;
    padding: 1rem;
    transition: all .3s !important;
    /* display: inline-block; */
}

.navbar-brand{
    color: var(--color-white) !important;
    font-size: 2rem;
}

.navbar-toggler{
    border: 1px solid var(--white-gradient);
}

.fa-arrow-down{
    color: var(--white-gradient);
    transition: var(--default-transition);
}

.tg-rotate{
    transform: rotate(180deg);
}

#my-nav{
    justify-content: center!important;
}

.navbar-nav{
    justify-content: center;
}

.nav-item{
    margin-right: 2rem;
    font-size: 1.8rem;
}

.nav-link{
    color: var(--color-white);
    transition: var(--default-transition);
}

.nav-link:hover{
    color: var(--color-green);
}

#mycarousel{
    position: relative;
    /* z-index: 700; */
    transition: all .3s;
}

.carousel-inner, .carousel-item{
    height: 100vh;
    transition: all .3s;
    /* clip-path: polygon(49% 0, 50% 0, 100% 0, 100% 89%, 70% 100%, 30% 100%, 0 88%, 0 0); */
    /* transition:  clip-path 1s; */
}

.polnone{
    clip-path: polygon(49% 0, 50% 0, 100% 0, 100% 89%, 70% 100%, 30% 100%, 0 88%, 0 0);;
}


::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-thumb {
	display: none;
}

#pg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: .5rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
	/* color: #D4AF37; */
	z-index: 10;
}

#pg::-webkit-progress-bar {
	background-color: transparent;
	z-index: 10;
}

#pg::-webkit-progress-value {
	background-color: var(--color-green);
	z-index: 10;
}

/* #pg::-moz-progress-bar {
	background-color: #D4AF37;
	z-index: 10;
} */

.progress-container {
	width: 100%;
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	height: 5px;
	display: block;
	z-index: 10;
}

.progress-bar {
	background-color: var(--color-green);
	width: 0%;
	display: block;
	height: inherit;
	z-index: 10;
}

.main-message{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.welcome-message{
    color: var(--color-white);
}

.content-message{
    width: 50%;
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.404);
    border-left: 2px solid var(--color-green);
}

.content-message h5{
    font-style: italic;
}

.content-message span{
    font-size: 2.5rem;
    font-size: 5rem;
}

.test .char{
    animation: animate 2s ease-in-out infinite;
}

@keyframes animate{
    0%,100%{
        transform: translateY(-1rem) rotate(-25deg);
    }
    50%{
        transform: translateY(1rem) rotate(25deg);
    }
}

.td .char{
    animation : anime 2s ease-in-out infinite;
    transform: translateY(-.5rem) ;
    animation-delay: calc(0.05s * var(--char-percent));

}

@keyframes anime{
    0%,100%{
        transform: translateY(-.5rem) rotate(-20deg);
    }
    50%{
        transform : translateY(.5rem) rotate(20deg)
    }
}


#scroll-invitation a span {
    z-index: 3000;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    width: 2.4rem;
    height: 2.4rem;
    border-left: 3px solid var(--color-green);
    border-bottom: 3px solid var(--color-green);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg),translate(-50%,-4rem);
    -webkit-animation: yv-effect 1.5s infinite;
    animation: yv-effect 1.5s infinite;
}


@-webkit-keyframes yv-effect {
    0% {
        -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes yv-effect {
    0% {
        transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

#about, #skills, #education, #contacts, #portfolio{
    padding: 5rem 0;
    background-color:var(--dark-theme-color) ;
}

.box-content-info{
    padding: 1rem;
}

.box-content-info > h3, #skills h3, #education h3, #portfolio h3, #contacts h3{
    font-size: 5rem;
    position: relative;
    cursor: default;
    color: var(--white-gradient);
    margin-bottom: 10rem;
    z-index: 3;
}

.box-content-info > h3::before, #skills h3::before, #education h3::before, #portfolio h3::before ,#contacts h3::before{
    content:" ";
    position: absolute;
    bottom: -.4rem;
    width: 10rem;
    height: 2rem;
    z-index: -2;
    background: var(--color-green) !important;
    transition: var(--default-transition);
}

.box-content-info > h3:hover::before, #skills h3:hover::before, #education h3:hover::before, #portfolio h3:hover::before, #contacts h3:hover::before{
    width: 20rem;
}

.box-info{
    display: flex;
}

.info-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    color: var(--white-gradient);
}

.info-text h4{
    font-size: 4rem;
    color: var(--color-blue);
}

.info-text h3{
    font-size: 4rem;
    margin-bottom:3rem;
}


.info-text p{
    width: 70%;
}

.info-img{
    flex: 1;
    height: 40rem;
    background: url('../images/undraw_feeling_proud_qne1.svg') center no-repeat;
    background-size: contain;
    box-shadow: 8px 5px 8px -1px rgb(37, 37, 37);
}

.btn-download{
    z-index: 3;
    position: relative;
    padding: 1rem;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
    background: transparent;
    color: var(--white-gradient);
    transition: var(--default-transition);
}

.btn-download::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--color-green);
    z-index: -1;
    width: 50%;
    transition: var(--default-transition);
}

.btn-download:hover::after{
    width: 100%;
    background: transparent;
    border-top: 1px solid var(--color-green);
    border-bottom: 1px solid var(--color-green);
    border-right: 1px solid var(--color-green);
}

.btn-download:hover{
    color: var(--white-gradient);
}

.skills{
    margin-bottom: 3rem;
}

.skills p{
    margin-bottom: 0;
    color: var(--white-gradient);
}

.skills p img{
    height: 3rem;
    width: 3rem;
}

.skills progress[value]{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1rem;
}

.skills progress[value]::-webkit-progress-bar{
    background-color: var(--white-fade);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.027) inset;
}

.skills progress[value]::-webkit-progress-value{
    background-color: var(--color-blue);
}

.box-timeline{
    height: 50rem;
    border-radius: 10px;
    overflow: auto;
    box-shadow: -8px -6px 5px -1px rgb(37, 37, 37);
}

.box-timeline::-webkit-scrollbar{
    display: none;
}

.timeline ul {
    background: var(--dark-theme-color);
}

.timeline ul li {
    background: var(--color-green);
    position: relative;
    margin: 0 auto;
    width: .5rem;
    padding-bottom: 4rem;
}

.timeline ul li:last-child {
    padding-bottom: .7rem;
}

.timeline ul li:before {
    content: "";
    background: var(--white-gradient);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border: 3px solid var(--color-green);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.timeline ul li .hidden {
opacity: 0;
}

.timeline ul li .content {
    background: var(--color-green);
    position: relative;
    top: 7px;
    width: 45rem;
    padding: 2rem;
}

.timeline ul li .content h2 {
    color: var(--white-gradient);
    padding-bottom: 1rem;
    color: var(--color-blue);
}

.timeline ul li .content h4{
    font-size: 2rem !important;
    color: var(--white-gradient);
    margin-bottom: 2rem;
}

.timeline ul li .content p {
    color: var(--color-blue);
    transition: var(--default-transition);
}

.timeline ul li .content a:hover{
    color: var(--color-white) !important;
}

.timeline ul li .content:before {
    content: "";
    background: var(--color-green);
    position: absolute;
    top: 0px;
    width: 3.8rem;
    height: .5rem;
}

.timeline ul li:nth-child(odd) .content {
    left: 5rem;
    background: var(--color-green);
    background: -webkit-linear-gradient(-45deg, var(--green-gradient), var(--color-green));
    background: linear-gradient(-45deg, var(--green-gradient), var(--color-green));
}

.timeline ul li:nth-child(odd) .content:before {
    left: -3.8rem;
}

.timeline ul li:nth-child(even) .content {
    left: calc(-45rem - 4.5rem);
    background: var(--color-green);
    background: -webkit-linear-gradient(45deg, var(--green-gradient), var(--color-green));
    background: linear-gradient(45deg, var(--green-gradient), var(--color-green));
}

.timeline ul li:nth-child(even) .content:before {
    right: -3.8rem;
}

.portfolio-menu{
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-menu button{
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    border: 1px solid var(--color-blue);
    background-color: var(--color-white);
    color: var(--color-blue);
    padding: .3rem 2rem;
    cursor: pointer;
    transition: var(--default-transition);
}

.portfolio-menu button.active , .portfolio-menu button:hover{
    background-color: var(--color-blue);
    color: var(--color-white);
    outline: none;
}

.bg-img{
    width: 100%;
    height: 35rem;
    margin-bottom: 2rem;

}

.img-1{
    background: url('../images/article-image-2.jpg') center no-repeat;
    background-size: cover;
}

.img-2{
    background: url('../images/article-image-1.jpg') center no-repeat;
    background-size: cover;
}

.img-3{
    background: url('../images/clinic_01.jpg') center no-repeat;
    background-size: cover;
}

.img-4{
    background: url('../images/hero_1.jpg') center no-repeat;
    background-size: cover;
}

.img-5{
    background: url('../images/hero_2.jpg') center no-repeat;
    background-size: cover;
}

.img-6{
    background: url('../images/reservation_1.jpg') center no-repeat;
    background-size: cover;
}

.box-form{
    margin: 0 auto;
    padding: 1rem 10rem;
}

.y-input , .t-input{
    color: var(--white-gradient);
    display: block;
    background: transparent;
    margin-bottom: 2rem;
    width: 100%;
    margin: 2rem auto;
    border:none;
    border-bottom: 1px solid var(--white-fade);
    padding: .8rem .7rem;
    outline: none;
    transition: var(--default-transition);
}

.y-input::placeholder, .t-input::placeholder{
    color: var(--white-gradient);
}


.y-input:focus{
    border-bottom: 1px solid var(--color-green);
}

.t-input{
    border: 1px solid var(--white-fade);
}

.t-input:focus{
    border: 1px solid var(--color-green);
}

.fa-arrow-circle-up{
    font-size: 4rem;
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    color: var(--color-green);
    cursor: pointer;
    transition: var(--default-transition);
}

.fa-arrow-circle-up:hover{
    color: var(--white-gradient);
}

#footer{
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index:-1;
    background: var(--color-blue);
    padding: 2rem 0;
    text-align: center;
    clip-path: polygon(49% 0, 50% 0, 100% 30%, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 30%);
}

.img-footer{
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
}

#footer p{
    color: var(--color-white);
    margin-top: 2rem;
}
/*------------------------------------*/


/************->MEDIA QUERIES *********<-*/

@media screen and (max-width:740px){
    .carousel-inner{
        height: 100vh;
    }
    .box-info, .info-img{
        display: block;
    }
    .box-form{
        padding: 0;
    }
    .content-message{
        width: unset;
    }
    .info-text p{
        width: 100%;
    }
    .portfolio-menu{
        justify-content: flex-start;
    }
    
}

@media screen and (max-width: 1020px) {
    .timeline ul li .content {
        width: 41vw;
    }

    .timeline ul li:nth-child(even) .content {
        left: calc(-41vw - 4.5rem);
    }
}

@media screen and (max-width: 700px) {
    .timeline ul li {
        margin-left: 2rem;
    }
    .timeline ul li .content {
        width: calc(100vw - 100px);
    }
    .timeline ul li .content h2 {
        text-align: initial;
    }
    .timeline ul li:nth-child(even) .content {
        left: 4.5rem;
        background: var(--color-green);
        background: -webkit-linear-gradient(-45deg, var(--green-gradient), var(--color-green));
        background: linear-gradient(-45deg, var(--green-gradient), var(--color-green));
    }
    .timeline ul li:nth-child(even) .content:before {
        left: -3.3rem;
    }
}
/*------------------------------------*/