/************->VARIABLES*********<-*/
@import 'partials/variables';
/*------------------------------------*/

/************->MIXINS*********<-*/
@import 'partials/mixins';
/*------------------------------------*/

/************->KEYFRAMES<-*********<-*/
@import 'partials/keyframes';
/*------------------------------------*/

/************->FONTS*********<-*/
@import url('https://fonts.googleapis.com/css?family=Audiowide|Cinzel+Decorative|Dancing+Script|Gotu|Great+Vibes|IM+Fell+French+Canon+SC|Indie+Flower|Monoton|Orbitron|Pacifico|Press+Start+2P|Sen&display=swap');
/*------------------------------------*/

/************->GENERAL*********<-*/

@include reset;
body{
    font-family: 'IM Fell French Canon SC', serif;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.6rem;
    position: relative;
    background-color: $dark-theme-color;
    transition: $defalut-transition;
}

/*------------------------------------*/

/*************LOADER CSS ************/
#loader{
    width : 100%;
    height: 100%;
    background-color: $color-black;
    position: fixed;
    z-index: 3000;
    text-align: center;
}

#loader.hidden{display: none;}

.load {
    color: $color-white;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.load,
.txt,
.txt2,
.span-bg{
    &::after{
        content: attr(data-text);
        position: absolute;
        left: 2px;
        text-shadow: -1px 0 $primary-color;
        top: 0;
        color:  $color-white;
        overflow: hidden;
        @include animate(noise-anim 2s infinite linear alternate-reverse);
    }
}

.load,
.txt,
.txt2,
.span-bg{
    &::before{
        content: attr(data-text);
        position: absolute;
        left: -2px;
        text-shadow: 1px 0 $primary-color;
        top: 0;
        color: $primary-color;
        overflow: hidden;
        @include animate(noise-anim 15s infinite linear alternate-reverse);
    }
}

/***********************************/


/************->JS Classes*********<-*/
@include javascriptClasses;
/*------------------------------------*/



/************->HEADER*********<-*/
@import 'partials/header';
/*------------------------------------*/

/************->MAIN *********<-*/

.test .char{@include animate(animate 2s ease-in-out infinite);}

.titles .char{@include animate(anime  2s ease-in-out infinite);}

#about, 
#skills, 
#education, 
#contacts, 
#portfolio,
#bye{
    padding: 5rem 0;
    background-color:$dark-theme-color ;
}

.box-content-info{padding: 1rem;}

.box-content-info,
#skills, 
#education, 
#portfolio, 
#contacts{
    h3{
        font-size: 5rem;
        position: relative;
        cursor: default;
        color:  $color-white;
        margin-bottom: 10rem;
        z-index: 3;
        display: inline-block;
    }
}

.box-content-info > h3::before, #skills h3::before, #education h3::before, #portfolio h3::before ,#contacts h3::before{
    content:" ";
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 1.5rem;
    z-index: -2;
    background: $primary-color !important;
    transition: $defalut-transition;
}

.box-content-info > h3:hover::before, #skills h3:hover::before, #education h3:hover::before, #portfolio h3:hover::before, #contacts h3:hover::before{
    width: 100%;
}

.box-info{
    display: flex;
}

.info-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    color:  $color-white;
}

.info-text h4, .info-text h3{
    font-size: 4rem;
    position: relative;
}

.info-text h3{
    margin-bottom:3rem;
}

.info-text p{
    width: 70%;
}

.info-img{
    flex: 1;
    height: 40rem;
    background: url('../images/undraw_feeling_proud_qne1.svg') center no-repeat;
    background-size: contain;
    box-shadow: 8px 5px 8px -1px rgb(37, 37, 37);
}

.btn-download{@include custom-button;}

.skills{margin-bottom: 3rem;}

.skills p{margin-bottom: 0;color:  $color-white;}

.skills{
    p{
        img{
            height: 3rem;
        width: 3rem;
        }
    }
}

.skills progress[value]{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1rem;
}

.skills progress[value]::-webkit-progress-bar{
    background: $color-black;
    border:1px solid  $color-white !important;
}

.skills progress[value]::-webkit-progress-value{
    background-color:  $color-white;
}

.box-timeline{
    height: 50rem;
    border-radius: 10px;
    overflow: auto;
    box-shadow: -8px -6px 5px -1px rgb(37, 37, 37);
}

.box-timeline::-webkit-scrollbar{
    display: none;
}

.timeline ul {
    background: $dark-theme-color;
}

.timeline ul li {
    background:  $color-white;
    position: relative;
    margin: 0 auto;
    width: .5rem;
    padding-bottom: 4rem;
}

.timeline ul li:last-child {
    padding-bottom: .7rem;
}

.timeline ul li:before {
    content: "";
    background:  $color-white;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border: 3px solid  $color-white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.timeline ul li .hidden {
opacity: 0;
}

.timeline ul li .content {
    background:  $color-white;
    position: relative;
    top: 7px;
    width: 45rem;
    padding: 2rem;
}

.timeline ul li .content h2 {
    color:  $color-white;
    padding-bottom: 1rem;
    color: $color-black;
}

.timeline ul li .content h4{
    font-size: 2rem !important;
    color:  $color-white;
    margin-bottom: 2rem;
}

.timeline ul li .content p {
    color: $color-black;
    transition: $defalut-transition;
}

.timeline ul li .content a:hover{
    color:  $color-white !important;
}

.timeline ul li .content:before {
    content: "";
    background:  $color-white;
    position: absolute;
    top: 0px;
    width: 3.8rem;
    height: .5rem;
}

.timeline ul li:nth-child(odd) .content {
    left: 5rem;
    background:  $color-white;
    background: -webkit-linear-gradient(-45deg, $primary-color,  $color-white);
    background: linear-gradient(-45deg, $primary-color,  $color-white);
}

.timeline ul li:nth-child(odd) .content:before {
    left: -3.8rem;
}

.timeline ul li:nth-child(even) .content {
    left: calc(-45rem - 4.5rem);
    background:  $color-white;
    background: -webkit-linear-gradient(45deg, $primary-color,  $color-white);
    background: linear-gradient(45deg, $primary-color,  $color-white);
}

.timeline ul li:nth-child(even) .content:before {
    right: -3.8rem;
}

.portfolio-menu{
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-menu button{
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    border: 1px solid $primary-color;
    background-color:  $color-white;
    color: var(--color-blue);
    padding: .3rem 2rem;
    cursor: pointer;
    transition: $defalut-transition;
}

.portfolio-menu button.active , .portfolio-menu button:hover{
    color:  $color-white;
    background: $primary-color;
    outline: none;
}

.bg-img{
    width: 100%;
    height: 35rem;
    margin-bottom: 2rem;
    position: relative;
    padding: 2rem;
    cursor: pointer;
}

.img-1{
    background: url('../images/python.svg') center no-repeat;
    background-size: contain;
}

.img-2{
    background: url('../images/css.svg') center no-repeat;
    background-size: contain;
}

.img-3{
    background: url('../images/sql.svg') center no-repeat;
    background-size: contain;
}

.img-4{
    background: url('../images/html-5.svg') center no-repeat;
    background-size: contain;
}

.img-5{
    background: url('../images/flutter-logo.svg') center no-repeat;
    background-size: contain;
}

.img-6{
    background: url('../images/php.svg') center no-repeat;
    background-size: contain;
}

.img-7{
    background: url('../images/js.svg') center no-repeat;
    background-size: contain;
}

.img-8{
    background: url('../images/vue-js-1.svg') center no-repeat;
    background-size: contain;
}

.box-form{
    margin: 0 auto;
    padding: 1rem 10rem;
}

.y-input , .t-input{
    color:  $color-white;
    display: block;
    background: transparent;
    margin-bottom: 2rem;
    width: 100%;
    margin: 2rem auto;
    border:none;
    border-bottom: 1px solid $white-fade;
    padding: .8rem .7rem;
    outline: none;
    transition: $defalut-transition;
}

.y-input::placeholder, .t-input::placeholder{color:  $color-white;}

.y-input:focus{border-bottom: 1px solid $primary-color;}

.t-input{border: 1px solid $white-fade;}

#bye{min-height: 100vh;}

.see-you-soon{
    height: 50rem;
    background: url('../images/undraw_work_in_progress_uhmv.svg') center no-repeat;
    background-size: contain;
    margin: 2rem auto;
}

.see-you-soon + h3{
    color:  $color-white;
    text-align: center;
    font-size: 3rem;
    position: relative;
}

.t-input:focus{
    border: 1px solid $primary-color;
}

.fa-arrow-circle-o-up{
    font-size: 4rem;
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    color: $primary-color;
    cursor: pointer;
    transition: $defalut-transition;
    z-index: 2000;
}

.fa-arrow-circle-up:hover{color:  $color-white;}
/*------------------------------------*/

/************->FOOTER<-*********<-*/
@import 'partials/footer';
/*------------------------------------*/

/************->MEDIA QUERIES *********<-*/
@import 'partials/mediaQueries';
/*------------------------------------*/