@mixin reset{
    *{
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }
    html{
        font-size: 62.5%;
        scroll-behavior: smooth;
    }
    a,a:hover{
        text-decoration: none;
        color: $color-black;
    }
    ul li{list-style: none;}
}

@mixin javascriptClasses {
    .d-none{
        display: none;
        transition: all .4s;
    }
    
    .tg-rotate{
        transform: rotate(180deg);
    }
    
    .span-bg{
        position: relative;
        background:  $color-white;
        padding: 1rem;
        color: $primary-color;
    }
    
}

@mixin custom-button {
    z-index: 3;
    position: relative;
    padding: 1rem;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
    background: transparent;
    color:  $color-white;
    transition: $defalut-transition;
    &::after{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: $primary-color;
        z-index: -1;
        width: 50%;
        transition: $defalut-transition;
    }
    &:hover::after{
        width: 100%;
        background: transparent;
        border-top: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
        border-right: 1px solid $primary-color;
    }
    &:hover{color: $color-white;}
}

// @mixin animate($second) {
//     -moz-animation:noise-anim $second infinite linear alternate-reverse;
//     -webkit-animation: noise-anim $second infinite linear alternate-reverse;
//     -o-animation: noise-anim $second infinite linear alternate-reverse;
//     animation: noise-anim $second infinite linear alternate-reverse;
// }

@mixin animate($values) {
    -moz-animation:$values;
    -webkit-animation:$values;
    -o-animation:$values;
    animation:$values;
}

@mixin appearance {
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
